body{
    background-image: url(../../images/car.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
th,td{
    text-align: center;
    padding:10px;
}
table{
    width:80%;
    border-collapse: collapse;
    margin:auto;
    opacity:.7;

}
tr:nth-child(even){
    background-color:gray;

}
tr:nth-child(odd){
    background-color:lightcyan;
}
th{
    background-color: forestgreen;
    color:white;
}
h2{
    color:#ffffff;
}